@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;700&family=Quicksand:wght@300;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: papayawhip;
}

li,
a {
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: brown;
  text-decoration: none;
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

.nav-logo {
  cursor: pointer;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-links li a {
  transition: all 0.8s ease 0s;
}

.nav-links li a:hover {
  color: papayawhip;
}

button {
  padding: 5px 25px;
  background-color: rgba(165, 42, 42, 1);
  color: papayawhip;
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgba(255, 239, 213, 0.8);
  color: brown;
}
